include template.pug

mixin styleLink(path)
    link(type="text/css" rel="stylesheet" href= path)



mixin navList(className,list)
    ul.nav
        each item,index in list
            li(class=className)=  item
                hr.hr-in-nav(class={other:index ==0})

mixin banner(subtitle)
    .banner
        .black-mask
            .part
                .banner-title.orange 芦苇科技
                .banner-subtitle= "——"+subtitle


mixin footPart
    div.content
        for item in footDatas
            div.content-part(class=item.dir)
                for icon in item.icons
                    div.icon.iconfont(class=icon)
                for desc,descClass in item.desc
                    div(class=descClass)= desc

