mixin tplTitle(titleDatas)
    -var classes = titleDatas.classes
    -var data = titleDatas.datas
    -var c = ['egTitle','cnTitle','info','desc']//-info有上下border的,desc是没有border的

    //- titleDiv主要设置title 的 div的背景颜色（整屏）
    div.title-div(class=classes.titleDiv!=''?classes.titleDiv:'')
        //- titleCnt主要设置title模块的占用中间宽度
        div.title-content(class=classes.titleCnt!=''?classes.titleCnt:'')
            each item in c
                if data[item]
                    div(class=item)(class=classes[item]?classes[item]:'')= data[item]
            //-a的钩子
            if data.list && data.list.length > 0
               ul.a-list
                    each item in data.list
                        a.list(class=classes.aList?classes.aList:'')= item

//-上下布局
mixin tplListA(listDatas)
    -var classes = listDatas.classes
    -var data = listDatas.datas
    -var l = ['title','subTitle','info']
    
    //-(bg-image) 
    div.a-part-in-list(class=classes.partInList!=''?classes.partInList:'')
        if classes.icon
            .a-icon.icon.iconfont(class=classes.icon!=''?classes.icon:'')
        if data.iconDesc
            .a-iconDesc(class=classes.iconDesc.style!=''?classes.iconDesc.style:'')
                if data.iconDesc.number
                    .a-number(class=classes.iconDesc.number!=''?classes.iconDesc.number:'')= data.iconDesc.number
                if data.iconDesc.iTitle
                    .a-iTitle(class=classes.iconDesc.iTitle!=''?classes.iconDesc.iTitle:'')= data.iconDesc.iTitle
        if data.title
            .a-title(class=classes.title!=''?classes.title:'')= data.title
        if data.subTitle
            .a-subTitle(class=classes.subTitle!=''?classes.subTitle:'')= data.subTitle
        //-设置阴影
        if classes.other
            .a-other(class=classes.other!=''?classes.other:'')= data.other
        if data.info
            .a-info(class=classes.info!=''?classes.info:'')= data.info
        if data.desc && data.desc.length >0
            each item in data.desc
                .a-desc-list(class=classes.desc!=''?classes.desc:'')= item



//- 左右布局
mixin tplListB(listDatas)
    -var classes = listDatas.classes
    -var data = listDatas.datas
    div(class= listDatas.style!=''?listDatas.style:'')
        .float-l.left
            +tplListA(listDatas.left)
        .float-l.center
            +tplListA(listDatas.middle)
        .right(class = listDatas.right.style!=''?listDatas.right.style:'')
            +tplListA(listDatas.right)

//- 首页-增值服务
mixin tplListC(listDatas)
    div(class= listDatas.style!=''?listDatas.style:'')
        .float-l.left(class = listDatas.left.style!=''?listDatas.left.style:'')
            +tplListA(listDatas.left)
        hr(class =listDatas.hr!=''?listDatas.hr:'')
        .right(class = listDatas.right.style!=''?listDatas.right.style:'')
            +tplListA(listDatas.right)

